@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    height: 100vh;
    background-color: #f5f4f6;
}

.post {
    border: 1px solid black;
    width: 500px;
    background-color: #fff;
    filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.1));
    border-radius: 8px;
}

.post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
}

.post-header .left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.post-header .left h1 {
    font-size: 16px;
}

.post-header i {
    font-size: 24px;
}

.post-img {
    display: flex;
    justify-self: center;
    align-items: center;
    min-width: 100%;
}

.post-img img {
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post-icons {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.post-icons .left {
    display: flex;
    gap: 8px;
}

.post-icons i {
    font-size: 24px;
}

.post-body-bottom {
    padding: 8px;
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.post-body-bottom span {
    font-weight: 600;
}